<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2026 the original author or authors.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apzda.hajimi.ucenter.infrastructure.mybatis.mapper.UserRoleMapper">
    <delete id="revoke">
        DELETE
        FROM ucenter_user_role
        WHERE uid = #{userId}
          AND role_id = #{roleId}
          AND tenant_id = #{tenantId}
    </delete>

    <delete id="deleteByRoleId">
        DELETE
        FROM ucenter_user_role
        WHERE role_id = #{roleId}
          AND tenant_id = #{tenantId}
    </delete>

    <select id="listUserRolesByUserIdAndTenantId"
            resultType="com.apzda.hajimi.ucenter.domain.entity.RoleEntity">
        SELECT R.* FROM ucenter_user_role UR LEFT JOIN ucenter_role R ON R.id = UR.role_id
        WHERE UR.uid = #{uid}
        AND UR.tenant_id = #{tenantId}
        AND UR.deleted = 0
        AND (
        UR.org_id IS NULL
        <if test="orgId != null">
            OR UR.org_id = #{orgId}
        </if>
        )
    </select>
    <select id="isGranted" resultType="java.lang.Boolean">
        SELECT COUNT(*)
        FROM ucenter_user_role
        WHERE uid = #{userId}
          AND role_id = #{roleId}
          AND tenant_id = #{tenantId}
          AND deleted = 0
    </select>
</mapper>
